!!! 5
%html
  %head
    - include '_global_head.haml'
  %body.mdl-color--grey-100.mdl-base

    - include '_global_bindings.haml'


    .demo-layout-waterfall.mdl-layout.mdl-js-layout
      - include '_global_navbar.haml'

      %main.mdl-layout__content
        .page-content
          .container
            - include

            - include '_global_footer.haml'

    - include_static 'js/material.min.js'
    - include_static 'js/scripts.js'

    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-78635609-1', 'auto');
      ga('send', 'pageview');
