%p
  #{ T("This generator is based on the latest version of the") }
  %a{:href => "https://github.com/mijdavis2/starter_weppy"} starter-weppy
  #{ T("project") }.
%p
  %a{:href => "https://travis-ci.org/mijdavis2/starter_weppy"}
    %img{:alt => "Build Status", "data-canonical-src" => "https://travis-ci.org/mijdavis2/starter_weppy.svg?branch=master", :src => "https://camo.githubusercontent.com/c8b14181947a5af0d0c5978fa3e1574101752198/68747470733a2f2f7472617669732d63692e6f72672f6d696a6461766973322f737461727465725f77657070792e7376673f6272616e63683d6d6173746572", :style => "max-width:100%;"}
  %a{:href => "https://coveralls.io/github/mijdavis2/starter_weppy?branch=master"}
    %img{:alt => "Coverage Status", "data-canonical-src" => "https://coveralls.io/repos/github/mijdavis2/starter_weppy/badge.svg?branch=master", :src => "https://camo.githubusercontent.com/1f4ce317246baaf1095952adb9c443a2ea523fce/68747470733a2f2f636f766572616c6c732e696f2f7265706f732f6769746875622f6d696a6461766973322f737461727465725f77657070792f62616467652e7376673f6272616e63683d6d6173746572", :style => "max-width:100%;"}
  %a{:href => "https://www.codacy.com/app/mijdavis2/starter_weppy?utm_source=github.com&amp;utm_medium=referral&amp;utm_content=mijdavis2/starter_weppy&amp;utm_campaign=Badge_Grade"}
    %img{:src => "https://api.codacy.com/project/badge/Grade/3e6e8b44b40a4f12937557a794b7d6a3"}
%h2
  starter-weppy
%a{:href => "https://github.com/mijdavis2/starter_weppy"}
  Starter-weppy
#{ T("is a python web application starter kit developed on the") }
  %a{:href => "https://github.com/gi0baro/weppy"} weppy framework
#{ T("Current version is based on Weppy 0.6 with an MVC scaffolding. An api module, dev mode, and 100% test coverage are included out of the box.") }
    