- extend 'layout.haml'

%h1 Weppy MVC Tour

%p.secondary
  %b
    Note:
  Currently in development. More to come in the following days/weeks.

- include 'tour/file_structure.haml'

- include 'tour/ajax.haml'

