-#.row
-#  .col-sm-6
-#    %h3
-#      #{ T("Ajax") }
-#    %p
-#      #{ T("Weppy MVC has your standard mvc file structure with contollers, models, static files, views, and core utilities and running scripts.") }
-#  .well.col-sm-6
-#    %pre
-#      %code
-#        \#target
-#        \%script{type: "text/javascript"}
-#          \ajax("{{=url('main.my_ajaxf')}}", [], ':eval');
